.header-sign{
    font-size: 45px;
    font-weight: bold;
    color: #FF8000;
    text-align: center;
    font-family: "Coiny";
    margin-bottom: 55px;
}
  
.combine-div{
    display: flex;
    justify-content: center;
    align-items: center;

}

.description {
    font-size: 20px;
    font-weight: 500;
    color: #333; /* Darker color for readability */
    padding: 0 550px; /* Add padding to the left and right */
    margin-bottom: 50px;
  }

.btn-sign{
    background-color: #FF8000; /* Orange background color */
    color: white; /* White text color */
    border: none; /* Removes default border */
    padding: 10px 25px; /* Adds padding inside the button */
    font-size: 20px; /* Sets font size */
    cursor: pointer; /* Changes cursor to pointer on hover */
    transition: background-color 0.3s, transform 0.2s; /* Adds smooth transition effect */
    width: 10%;
    border-radius: 5px;
    margin-left: 30px;
    height: 47px;
    font-family: Coiny;
}

.btn-sign:hover {
    background-color: #e08535;
    transform: scale(1.3); /* Darker orange on hover */
}
  
.btn-sign:active {
    transform: scale(1.3); /* Slightly reduces button size on click */
}

.email-input{
    width: 100%;
    margin-top: 10px;
    min-width: 300px;
    max-width: 400px; /* Max width of the input field */
    padding: 10px;
    margin-bottom: 10px; /* Space between input and button */
    font-size: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 0;
    border-radius: 5px;
    font-family: coiny;
}
.already-signed-up{
    color: red;
    font-size: 20px;
}

.success-message{
    color: green;
    font-size: 20px;
}